
.background_image{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/assets/img/housebg.jpg) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#inputs{
 margin-top: 1em;
 padding: 10em;
}
h4{
    text-align: center;
    font-size: 50px;
    padding-top: 1em;
    color: azure;
}
h1{
    text-align: center;
    font-size: 75px;
    padding-top: 1em;
    color: azure;
}

.content{
    position: absolute;
}
/* registration */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


